
.car-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}


 
.search-bar {
  text-align: right;
  margin-bottom: 20px;
}

.search-bar input {
  margin-top: 15px;
  margin-right: 10px;
  padding: 10px 16px;

  
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  width: 240px;
}

@media (max-width: 600px) {
  .car-list {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .search-bar {
    text-align: center;
    margin: 15px 0;
  }

  .search-bar input {
    width: 90%;
  }

  .car-card h3 {
    font-size: 1rem;
  }

  .car-card button {
    width: 100%;
  }
}