.popular-cars {
  background-color: #1a1a1a;
  color: #f5f5f5;
  padding: 80px 20px;
  text-align: center;
}

.popular-cars h2 {
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.cars-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.car-card {
  background-color: #393939;
  border-radius: 12px;
  overflow: hidden;
  width: 260px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.car-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(62, 61, 61, 0.06);
}

.car-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.car-info {
  padding: 20px;
}

.car-info h4 {
  font-size: 1.3rem;
  color: floralwhite;
  font-weight: 500;

}

.showMore{
  color: #d8d6d6;
  font-size: 1.2rem;
  font-weight: 500;
}


@media (max-width: 768px) {
  .popular-cars {
    padding: 60px 15px;
  }

  .popular-cars h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }

  .car-card {
    width: 100%;
    max-width: 320px;
  }

  .car-card img {
    height: auto;
  }

  .car-info h4 {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .cars-grid {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .popular-cars h2 {
    font-size: 3rem;
    margin-bottom: 30px;
  }
  .car-info h4 {
    font-size: 2rem;
    font-weight: 600;
  }

}