body{
    background: rgb(87,87,89);
    background: linear-gradient(90deg, rgba(87,87,89,1) 0%, rgba(33,33,33,1) 35%, rgba(7,8,8,1) 100%);
    font-family: "Montserrat", sans-serif;
}

 @media screen and (max-width:460px) {
    body{
        background: rgb(87,87,89);
        background: radial-gradient(circle, rgba(87,87,89,1) 0%, rgba(33,33,33,1) 35%, rgba(7,8,8,1) 100%);
    }
 }